<h1>Choose Samples</h1>

<%= form_for @collection do |f| %>
  <fieldset>
    <% @samples.each do |sample| %>
      <%= check_box_tag "collection[sample_ids][]", sample.id, @collection.sample_ids.include?(sample.id), id: dom_id(sample) %>
      <%= label_tag dom_id(sample), sample.title  %>
    <% end %>
  </fieldset>

  <%= f.submit "Add/Remove Samples" %>
<% end %>
