<div id="edit-collection">
  <div class="container">
    <div id="edit-collection-row" class="row justify-content-center align-items-center">
      <div id="edit-collection-column" class="col-md-12">
        <div id="edit-collection-box" class="col-md-12">
          <h1 class="text-center pt-5 new-title">Editing '<%= @collection.name %>' Collection</h1>
            <%= render :partial => 'form' %>
        </div>

      </div>

    </div>
  </div>
</div>
