<div id="edit-sample">
  <div class="container">
    <div id="edit-sample-row" class="row justify-content-center align-items-center">
      <div id="edit-sample-column" class="col-md-12">
        <div id="edit-sample-box" class="col-md-12">
          <h1 class="text-center pt-5 new-title">Editing '<%= @sample.title %>'</h1>
            <%= render :partial => 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
