<h1>Your Samples</h1>

<% @samples.each do |sample| %>
  <p><%= link_to sample.title, sample_path(sample.id) %></p>
<% end %>

<div class="sample_controls">
  <%= link_to "Add Sample", new_sample_path %>
</div>
