<div id="new-sample">
  <div class="container">
    <div id="new-sample-row" class="row justify-content-center align-items-center">
      <div id="new-sample-column" class="col-md-12">
        <div id="new-sample-box" class="col-md-12">
          <h1 class="text-center pt-5 new-title">New Sample</h1>
            <%= render :partial => 'form' %>
        </div>

      </div>

    </div>
  </div>
</div>
