<h1>Marketplace</h1>

<% @samples.each do |sample| %>
  <%= link_to cl_image_tag(sample.image, :class => 'feature', :alt => "#{sample.title}"), sample %>
  <p><%= link_to sample.title, sample %></p>
  <p><%= link_to sample.collection.name, sample.collection unless sample.collection.nil? %></p>
  <p>Updated At: <%= sample.updated_at.strftime '%l:%M %P, %B %e, %Y' %></p>
<% end %>
