@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500);

* {
  // border: 1px solid red;
}

html {
  background-color: #f0f39c;
  box-sizing: border-box;
}

body {
  background-color: #f0f39c;
  font-family: 'Raleway', sans-serif;
}
