@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500);

* {
  // border: 1px solid red;
}

html {
  background-color: #f0f39c;
  box-sizing: border-box;
}

body {
  padding: 0;
  background-color: #f0f39c;
  font-family: 'Raleway', sans-serif;
}

hr {
  border: 0.2em solid rgba(0,0,0,0.7);
  margin: 0 -4em;
  box-shadow: 0em 0.3em 0.3em rgba(0,0,0, 0.2);
}

.navbar-title {
  font-size: 3em;
}

.navbar {
  // background-color: #DD3E56;
  background-color: #FFFFFF;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0, 0.2);
}

.nav-link {
  color: white;
}

.container-fluid {
  padding: 0;
}

.container {
  margin-bottom: 5em;
  // background-color: #EFEFEF;
  // box-shadow: 0 15px 23px rgba(0,0,0, 0.2);
}

// ==============================
// LOG IN and SIGN UP STYLING
// ==============================

#signup .container #signup-row #signup-column #signup-box {
  margin-top:5em;
  max-width: 700px;
  padding-bottom: 3em;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0, 0.2);
  background-color: #FFFFFF;
}

#login .container #login-row #login-column #login-box {
  margin-top:5em;
  max-width: 700px;
  padding-bottom: 3em;
  box-shadow: 0 0.1em 0.2em rgba(0,0,0, 0.2);
  background-color: #FFFFFF;
}

.not-already-signed-up {
  padding-top: 1.5em;
}
