// Place all the styles related to the Samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500);

* {
  // border: 1px solid red;
}

html {
  background-color: #f0f39c;
  box-sizing: border-box;
}

body {
  background-color: #f0f39c;
  font-family: 'Raleway', sans-serif;
}

.sample_playerOne_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sample_container {
  position: relative;
  height: 25em;
  width: 40em;
  background-color: white;
  box-shadow: 0 15px 23px rgba(0,0,0, 0.2);
}

.sample_image_container {
  height: 20em;
  width: 20em;
  position: absolute;
  top: 10%;
  right: -10%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.4);
}

.sample_image {
  height: inherit;
  position: relative;
  width: inherit;
}

.sample_detail_container {
  position: absolute;
  top: 10%;
  left: 10%;
}

.player_container {
  width: 15em;
  height: 5em;
  position: absolute;
  bottom: 10%;
  left: 10%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.player_item {
  height: 3em;
  width: 3em;
  margin: 0 1em;
  cursor: pointer;
}

.player_play {
  width: 0em;
  height: 0em;
  border-top: 2em solid transparent;
  border-bottom: 2em solid transparent;
  border-left: 2em solid #f0f39c;
}

.player_pause {
  width: 2em;
  height: 2em;
  background-color: #f0f39c;
}

.progress_bar_container {
  width: 10em;
  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    color: #f0f39c;
    height: 0.4em;;
  }
  progress[value]::-webkit-progress-bar {
    background-color: white;
    // border-radius: 2px;
    border: 1px solid lighten(#acacac, 20%);
    color: #f0f39c;
  }
  progress::-webkit-progress-value {
    background-color: #f0f39c;
  }
}

#seekbar {
  cursor: pointer;
}



.start-time {
  position: absolute;
  left: 6em;
  bottom: 1em;
}

.end-time {
  position: absolute;
  bottom: 1em;
  right: 0em;
}
